$mdc-theme-primary: #fc595e;
$mdc-theme-secondary: #16cd8b;
$mdc-theme-background: #fff;

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~material-components-web/material-components-web";

body { margin: 0; }
